<html>

<head>
<title>
        About
    </title>
    <link rel = "icon" href="img/Screen Shot 2022-06-20 at 8.42.29 PM.png">
    <link rel = "stylesheet" href = "css/styles.css">
    {{!-- <script src="js/app.js"></script> --}}


</head>


<body>

    <div class = "main-content">
<!-- to add partials in file we use below syntax and header is partail name -->
    {{>header}}

<p>
 
{{helpMessage}}

</p>
    </div>


{{>footer}}
</body>


</html>