<header>


<h1>  {{title}} </h1>

<!-- div is short fomr of division used to create a seperate section or division in view -->
<div>

    <!-- we use a (anchor element tag to add links in html) we can add test we want to show and when we click on text link in open -->
    <a href="/" >Weather App</a> <!-- sset to rooot page -->
    <a href="/about" > About</a>
    <a href="/help" > Help</a>

</div>

</header>
